{__NOLAYOUT__}
                                    <tr class="assert_tr">
                                        <td>
                                            <input type="text" class="span11 assert_text" name="assert_key" placeholder="Key值，模糊匹配" value="{$step.key|htmlspecialchars}">
                                        </td>
                                        <td>
                                            <input type="text" class="span11 assert_text" name="assert_value" placeholder="Value值，模糊匹配" value="{$step.value|htmlspecialchars}">
                                        </td>
                                        <td>
                                            <div>
                                                <a href="#"><i class="icon-remove" title="删除"></i></a>
                                                <a href="#"><i class="icon-circle-arrow-down" title="下移"></i></a>
                                                <a href="#"><i class="icon-circle-arrow-up" title="上移"></i></a>
                                            </div>

                                        </td>
                                    </tr>
