table thead th{
	color:#ffffff;
	background-color: #3C3C3C;
}

i{
	cursor:pointer;
}

.tips{
	margin-top:10px;
	color:#FF8000;
}

/*搜索工具栏*/
.bc   {
	padding: 8px 15px;
	margin: 0 0 20px;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.row-fluid [class*="span"]{
  margin-left: 0;
}

/*重新定义表格中hover的颜色*/
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th{
	background-color:#D2E9FF;
}

.navbar .brand {
	margin-left: 0px;
}
.footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  border-top: 1px solid #e5e5e5;
  	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.form-inline input{
	margin-right: 10px;
}

.modal.fade.in {
  top: 20%;
}

/*必填星号标识*/
.required{
	color: red;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	left: -8px;
	top:6px;
}

.modal-body {
	padding-bottom: 30px;
}
/*按钮操作组*/
.tool-btn{
	margin-bottom:10px;
}

.pagination-total{
	padding-left: 30px;
	margin: 10px 0;
}

.pagination {
  margin: 10px 0;
}

#errmsg{
	width:400px;
	position: fixed;
	top:45px;
	left:50%;
	margin-left: -220px;
	display: none;
	z-index:9999
}

/*case add begin*/

/* 手风琴工具栏 */
.item_tool{
	float: right;
	padding-top: 8px;
	padding-right: 20px;
}

.accordion-inner .controls{
	margin-bottom:10px;
}

/*不让手风琴右边的滚动条出来*/
.tab-content{
	overflow: inherit;
}

/*case add end*/

.bs-docs-sidenav{
	margin:70px 0 0;
}

.popover-content{
	padding:2px 2px;
}
.popover{
	max-width:1200px;
}
.page-header h1,h3{
	color:#467500;
}

div#rMenu {
	position:absolute; 
	visibility:hidden; 
	top:0; 
	background-color: #555;
	text-align: left;
	padding: 2px;
}
div#rMenu ul{
	margin:0px;
}
div#rMenu ul li{
	margin:0px;
	padding: 0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color: #DFDFDF;
}